<% if current_user.role.role_name.downcase != "supervisor"%>
<h1>Access Denied</h1>
<%else%>

  <!-- Validation failure messages -->
<% if @allotment.errors.any? %>
  <% @allotment.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Allotment</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_allotment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for date -->
      <div class="form-group">
        <label for="date" class="control-label">
          Date (YYYY-MM-DD)
        </label>

        <input type="text" id="date" name="date" placeholder="Date" class="form-control" value="<%= @allotment.date %>">
      </div>

      <!-- Label and input for days_available -->
      <div class="form-group">
        <label for="days_available" class="control-label">
          Days available
        </label>

        <input type="text" id="days_available" name="days_available" placeholder="Days available" class="form-control" value="<%= @allotment.days_available %>">
      </div>

      <!-- Label and input for role_id -->
      <div class="form-group">
        <label for="role_id" class="control-label">
          Role
        </label>

        <%= select_tag(:role_id, options_from_collection_for_select(Role.all, :id, :role_name, @allotment.role_id), :class => "form-control")%>
      </div>

      <!-- Label and input for department_id -->
        <input type="hidden" id="department_id" name="department_id" placeholder="Department" class="form-control" value="<%= current_user.department_id %>">


      <button class="btn btn-success">
        Create Allotment
      </button>
      or
      <a href="/my_allotments">Cancel</a>
    </form>
  </div>
</div>

<%end%>
